[Unit]
Description=Apache Kafka
After=network.target

[Service]
Type=simple
User=root
EnvironmentFile=/opt/kafka/config/java.env
ExecStart=/opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/server.properties
ExecStop=/opt/kafka/bin/kafka-server-stop.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
